<div class="page-header">
    <h1>{{customer.companyName}} <small>Customer Details</small></h1>
</div>

<div class="container-fluid">
    <div ng-if="customer.imageUrl">
        <img ng-src="{{customer.imageUrl}}"/>
    </div>

    <p>{{customer.description}}</p>

    <div class="legend-container" style="margin-top:2em">
        <span class="the-legend">New resubmission</span>

        <form name="resubform" role="form" novalidate>
            <div id="resubmissionNoteGroup" name="resubmissionNoteGroup" class="form-group"
                 ng-class="{'has-error':resubform.resubmissionNote.$invalid && !resubform.resubmissionNote.$pristine}">
                <label for="resubmissionNote" class="control-label">Note</label>
                <textarea ng-model="resub.note" required id="resubmissionNote" name="resubmissionNote" rows="3"
                          class="form-control" placeholder="Note" autofocus></textarea>
                <span ng-show="resubform.resubmissionNote.$invalid && !resubform.resubmissionNote.$pristine" class="help-block">
                    Note is required
                </span>
            </div>

            <div id="resubmissionDueDateGroup" class="form-group" ng-class="{'has-error':resubform.resubmissionDueDate.$invalid}">
                <label for="resubmissionDueDate" class="control-label">Due date</label>
                <input ng-model="resub.due" required my-datepicker id="resubmissionDueDate" name="resubmissionDueDate"
                       type="date" class="form-control" placeholder="Due"/>
                <span ng-show="resubform.resubmissionDueDate.$invalid" class="help-block">
                    Due date is required
                </span>
            </div>

            <button ng-click="createResubmission(resub)" ng-disabled="resubform.$invalid"
                    type="submit" class="btn btn-default">Create</button>
        </form>
        <!-- pre class="debug-group">form = {{ resub | json }}</pre -->
    </div>

    <div ng-if="customer.resubmissions" class="legend-container" style="margin-top:2em">
        <span class="the-legend">History</span>
        <div class="table-responsive">
            <table class="table table-striped customer-resubmission-items">
                <thead>
                    <tr>
                        <th>Note</th>
                        <th>Due</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="h in customer.resubmissions" ng-class="{'info':h.active}">
                        <td class="col1">{{h.note}}</td>
                        <td class="col2">{{h.due | date : 'yyyy-MM-dd'}}</td>
                        <td class="col3" ng-class="{'info':h.active}">
                            <span ng-if="h.active">
                                <a ng-click="markDone(h)">Done</a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
