<div class="page-header">
    <h1>Dashboard</h1>
</div>

<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-striped dashboard-items">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Note</th>
                    <th>Due</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dash in dashboard">
                    <td class="col1"><a href="#/customers/{{dash.customerId}}">{{dash.customerName}}</a></td>
                    <td class="col2">{{dash.resubmissionNote}}</td>
                    <td class="col3">{{dash.resubmissionDue | date : 'yyyy-MM-dd'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
