<div class="page-header">
    <h1>{{titleText}} <small>{{subTitleText}}</small></h1>
</div>

<div class="container-fluid">
    <div class="legend-container" style="margin-top:2em">
        <span class="the-legend">{{legendText}}</span>

        <form name="customerform" role="form" novalidate="novalidate">
            <div class="form-group">
                <label for="customerlogo" ng-show="!dropSupported" class="control-label">Company logo</label>
                <input ng-show="!dropSupported" type="text" ng-model="customer.logo" id="customerlogo"/>
                <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="file-upload-drag-over"
                     ng-show="dropSupported" class="file-upload-drop-area">
                    <div class="cell">
                        <div class="content">
                            <img ng-show="imageUrl" ng-src="{{imageUrl}}"/>
                        </div>
                        <span ng-show="!imageUrl">Drop logo here</span>
                    </div>
                </div>
                <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">
                    HTML5 Drop File is not supported!
                </div>
                <a ng-click="removeImage()" ng-show="imageUrl">Remove image</a>
            </div>

            <div class="form-group" ng-class="{'has-error':customerform.companyName.$invalid && !customerform.companyName.$pristine}">
                <label class="control-label">Company name</label>
                <input ng-model="customer.companyName" required name="companyName" type="text" class="form-control" placeholder="Name" autofocus="autofocus"/>
                <span ng-show="customerform.companyName.$invalid && !customerform.companyName.$pristine" class="help-block">
                    Name is required
                </span>
            </div>

            <div class="form-group">
                <label class="control-label">Description</label>
                <input ng-model="customer.description" name="description" type="text" class="form-control" placeholder="Optional description"/>
            </div>

            <button ng-click="saveCustomer(customer)" ng-disabled="customerform.$invalid" type="submit" class="btn btn-primary">{{saveCustomerText}}</button>
            <button ng-click="cancelEdit()" ng-disabled="!isEditMode" type="button" class="btn btn-default">{{cancelText}}</button>
        </form>
    </div>
</div>
